set / system mtu default-port-mtu 9216
set / system mtu default-l2-mtu 9216
set / system mtu default-ip-mtu 9000

set / network-instance default
set / network-instance default type default
set / network-instance default interface ethernet-1/1.1
set / network-instance default interface ethernet-1/21.1

set / system lldp interface ethernet-1/1 admin-state enable
set / system lldp interface ethernet-1/21 admin-state enable

set / network-instance default interface system0.0
set / network-instance default protocols
set / network-instance default protocols bgp
set / network-instance default protocols bgp autonomous-system 65000
set / network-instance default protocols bgp router-id 1.2.3.4

set / network-instance default protocols bgp neighbor 192.168.2.1
set / network-instance default protocols bgp neighbor 192.168.2.1 peer-group all
set / network-instance default protocols bgp neighbor 192.168.2.1 peer-as 4200000012

set / network-instance default protocols bgp neighbor 192.168.1.1
set / network-instance default protocols bgp neighbor 192.168.1.1 peer-group all
set / network-instance default protocols bgp neighbor 192.168.1.1 peer-as 4242424242

set / network-instance default protocols bgp ebgp-default-policy
set / network-instance default protocols bgp ebgp-default-policy import-reject-all false
set / network-instance default protocols bgp ebgp-default-policy export-reject-all false
set / network-instance default protocols bgp afi-safi ipv4-unicast admin-state enable
set / network-instance default protocols bgp afi-safi evpn admin-state enable
set / network-instance default protocols bgp afi-safi evpn evpn inter-as-vpn true

set / network-instance default protocols bgp group all

set / interface ethernet-1/1
set / interface ethernet-1/1 admin-state enable
set / interface ethernet-1/1 subinterface 1
set / interface ethernet-1/1 subinterface 1 ipv4
set / interface ethernet-1/1 subinterface 1 ipv4 admin-state enable
set / interface ethernet-1/1 subinterface 1 ipv4 address 192.168.2.2/30

set / interface ethernet-1/21
set / interface ethernet-1/21 admin-state enable
set / interface ethernet-1/21 subinterface 1
set / interface ethernet-1/21 subinterface 1 ipv4
set / interface ethernet-1/21 subinterface 1 ipv4 admin-state enable
set / interface ethernet-1/21 subinterface 1 ipv4 address 192.168.1.2/30

#set / interface system0
#set / interface system0 subinterface 0
#set / interface system0 subinterface 0 ipv4
#set / interface system0 subinterface 0 ipv4 admin-state enable
#set / interface system0 subinterface 0 ipv4 address 100.1.1.1/32
